$main-color:#525256;
$nav-color:#ffffff;
$text-color:#333333;
$span-color:#5C9120;
$title-color:#00335C;
$span-text:#FCBF29;
$box-color:#044070;
$link-color:#BECAD6;
$focus-color:#00335C;
$text-hover:#455672;
$color-background:#6880A8;

//  $text-color:#5D5D5D;